/* Specifics ------------*/
@media (min-width: 1024px) {
    .modal-dialog-l {
        width: 1000px;
    }
}

.form-message {
    padding: 5px;
    margin-top: 10px;
    border-radius: 4px;
}

.container-top {
    padding-top: 55px;
}

.band-img {
    max-height: 400px;
    width: auto;
}

.search-separator {
    border-top: 3px solid #777;
}

/* Utility ------------*/
.full-width {
    width: 100%;
}

.p-t-xs {
    padding-top: 5px;
}

.p-t-sm {
    padding-top: 10px;
}

.p-l-sm {
    padding-left: 10px;
}

.m-l-sm {
    margin-left: 10px;
}

.m-r-sm {
    margin-right: 10px;
}

/* Setlist grid input widths --------- */
.grid-setlist-order {
    max-width: 70px;
}

.grid-setlist-length {
    max-width: 70px;
}

/* Google Maps in modal fix ----------- */
.pac-container {
    z-index: 1051 !important;
}
/* .pac-container {
    background-color: #FFF;
    z-index: 2;
    position: fixed;
    display: inline-block;
    float: left;
}
.modal {
    z-index: 2;   
}
.modal-backdrop {
    z-index: 1;        
}​ */

/* Spinner. Credit: http://tobiasahlin.com/spinkit/ */
.spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* border: 2px solid blue; */

    width: 40px;
    height: 40px;
    background-color: #d6612a;
  
    margin: 100px auto;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
  }
  
  @-webkit-keyframes sk-rotateplane {
    0% { -webkit-transform: perspective(120px) }
    50% { -webkit-transform: perspective(120px) rotateY(180deg) }
    100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
  }
  
  @keyframes sk-rotateplane {
    0% { 
      transform: perspective(120px) rotateX(0deg) rotateY(0deg);
      -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
    } 50% { 
      transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
      -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
    } 100% { 
      transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
      -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
  }